.textlint-error {
	width: 400px;
	margin-left: 32px;
	background: #eee;

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item {
		padding: 1em;
		background: #fff;
		border-left: 5px solid #cc1818;

		&:not(:last-child) {
			margin-bottom: 0.5em;
		}
	}
}
